/* nav */
*{
	margin:0;
	padding: 0;
    font-family: 'Inter', Sans-serif;
}
.nav-link{
    color: #e3cc66!important;
    width:auto;
    justify-content: center;
    font-size: 18px;
}

.navbar-nav{
    align-items: center;
    text-decoration: none;
    display: flex!important;
    align-content: center;
    align-items: center!important;
    text-align: center;
}

.btn{
    display: flex;
    height:5%;    
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


a{
  transition: 0.3s!important ;
}

.icons a{
    display: flex!important;
    align-content: center!important;
    justify-content: center!important;
}



.activea{
    background-color:#e3cc66 ;
    color: rgb(255, 255, 255)!important ;
    margin-left: 5px!important;
}

.a{
  color: rgb(255, 255, 255)!important ;
  margin-left: 5px!important;
  border: 2px #e3cc66 solid;
}

a:hover{
	opacity: 0.7;
}
.logo img{
    width: 20vh;
}
.active{
	font-weight: bold;
}
nav{
    padding: 2vh!important;
    padding-left: 8vh!important;
    padding-right: 8vh!important;
	display: flex!important;
	justify-content: space-around!important;
	align-items: center!important;
    font-family: 'Inter', Sans-serif !important;
	background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity))!important;
   
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto!important;
        justify-content: flex-end;
    }
}
.container-fluid {
    background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity))!important;
}







/* footer */

#interface1{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    margin: auto;
    max-width: 82%;
}

#row{
    display:flex;
    flex-wrap:wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #252525;
    padding: 40px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size:18px;
    color:#fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position:relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #fff;
    height:2px;
    box-sizing:border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul{
    padding-left: 0em;
}

.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
    font-weight:300;
    display:block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#fff;
    padding-left: 5px;
}

.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: all 0.5s ease;
}

.social-links{
    margin-left: -20px;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


/* home */
#home{
    display: contents;
}

.banner{
    display: block;
    
}

.banner-clip-path{
    position: absolute;
    width: 100%;
    height: 100vh;
    
    clip-path: polygon( 0 0,30% 0,60% 100%,  30% 100%);
    background-color: transparent;
    background-image: url(./img/chatbotFundo.png);
    background-size: 100% 100%;
    background-size: cover;
    z-index: -1;
}







.interface{
    position: absolute;
    z-index: 0;
    justify-content: center;
    margin: 10%;
    flex-wrap: wrap;
    display: contents;
    align-items: center;
}

@media (max-width: 820px) {
    
    .banner-txt button{
        width: 170px!important;
        height: 45px!important;
    }
    .banner-txt h4{
        font-size: 0.6rem!important;
    }
}

@media (max-width: 480px) {
    
    .banner-txt button{
        width: 170px!important;
        height: 45px!important;
    }
}

#twoblocks{
    display: flex;
    padding: 5%;
    align-items: center;
}

.gerrand{
    width: 100%;
    z-index: 3; 
}

.gerrand img{
    width: 50%;
}

.banner-txt{
    width: 50%;
    text-align: center;
    color: #b79e2c;
    z-index: 3;
    margin: 5%;
}



h1 {
    font-size: 3.5rem;
}

.banner-txt h4{
    font-size: 1.5rem;
    color: #6f6020;
}

@media(max-width: 1308px) {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    
    .banner-txt h4{
        font-size: 1rem;
        color: #6f6020;
    }
    
} 



.banner-txt button{
    width: 270px;
    height: 45px;
    background-color: #cbad23;
    color: #eee;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border: none;
}

.btn-inicio a{
    color: #eee;
    text-decoration: none;
}




#interface2{
	padding: 10vh;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
}



#quem{
    padding: 10%;
    text-align: center;
}


@media(max-width: 1011px) {
    #interface2{
        padding: 10vh;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
} 

@media(max-width: 824px) {
    #interface2{
        padding: 5vh;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    #quem{
        text-align: justify;
    }
} 

/* informacoes home */
#informacoes{
   
    background: #000;    
    padding: 5%;
    border-top: 5px #e3cc66 solid;
    border-bottom: 5px #e3cc66 solid;
}


#informacoes h1{
    color: #e3cc66;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
  }
  
  #alink{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around
  }
  
  #alink button{
    border: 0px;
    display: flex;
    color: #a39038;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 340px;
    width: 450px;
    padding: 25px 25px;
  }

  

  
  #alink button:hover{
    color: rgb(0, 0, 0);

  }
  
  #alink p{
    color:black;
  }
  
  .col{
    display: flex;
    border-radius: 5px;
    padding: 25px 25px;
    box-sizing: border-box;
    margin: 40px 35px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    height: 380px;
    width: 480px;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
  }

  .col:hover{
    transform: translateY(-10px);
  }
  .h3, h3 {
    font-size: calc(1.3rem + .6vw);
    }
    p{
        font-size: calc(0.8rem + .6vw);
    }

  @media(max-width: 650px) {
    .col{
        height: 280px;
        width: 300px;
        padding: 15px 15px;
        margin: 10px 0px;
       
    }
    #alink button {
        height: 240px;
        width: 270px;
    }
    .h3, h3 {
        font-size: calc(1rem + .6vw);
    }
    p{
        font-size: calc(0.7rem + .6vw);
    }
}
  
  
  .col:before{
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #aa94327a;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44,1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .col:hover:before {
    animation: opacityFallbackIn .5s step-start forwards;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  
  }
  

